.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form_container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 650px;
  gap: 5px;
  margin: 20px;
  padding: 15px;
  background-color: #fce7e2;
  box-shadow: 1px 1px 3px black;
}

.inputText {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.password_container {
  display: flex;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  font-size: 15px;
  background-color: white;
}

.password_class {
  border: none;
  font-size: 15px;
  width: 100%;
}

.password_class:focus {
  outline: none;
  width: 100%;
}

.labelText {
  font-size: 16px;
  margin-right: auto;
}

.legendText {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}

.submitButton {
  margin: 20px 20px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #2b3445;
  color: white;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #484c5f;
}

.submitButton:active {
  transform: scale(0.98);
}

.inputText_field {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.input_error {
  color: red;
  margin-right: auto;
  font-size: 13px;
}

.loginForm_container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 5px;
  margin: 20px;
  padding: 15px;
  background-color: #d6c1b2;
  box-shadow: 1px 1px 3px black;
}

.loginSubmit_button {
  margin: 20px 5px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #323235;
  color: white;
  cursor: pointer;
}

.loginSubmit_button:hover {
  background-color: #4b4b52;
}

.loginSubmit_button:active {
  transform: scale(0.98);
}

.show_button {
  border: none;
  background-image: url("/public/images/eye.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.hide_button {
  border: none;
  background-image: url("/public/images/hidden.png");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
}

.back_login {
  position: absolute;
  margin: 20px 20px 0;
  background-color: #e3cca3;
  padding: 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.linkfp {
  color: black;
  text-decoration: none;
  margin: 0 50px 0 50px;
}

.linkfp:hover {
  color: purple;
}

.popup-itm {
  background-color: #e9f4fe;
  padding: 10px;
  cursor: pointer;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;
  white-space: nowrap; /* prevent text from breaking to a new line */
  overflow: hidden;
  text-overflow: ellipsis; /* add ... if text still overflows */
}

.popup-btn {
  margin-right: 50px;
  align-self: center;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: bold;
}

.popup-btn:hover {
  transform: scale(1.1);
}

.popup-btn:active {
  transform: scale(0.9);
}

.forgotchangepassword_container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 5px;
  margin: 20px;
  padding: 15px;
  background-color: #fce7e2;
  box-shadow: 1px 1px 3px black;
}

.forgotchangepassword_button {
  margin: 20px 5px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #2b3445;
  color: white;
  cursor: pointer;
}

.forgotchangepassword_button:hover {
  background-color: #484c5f;
}

.forgotchangepassword_button:active {
  transform: scale(0.98);
}

/* Scrollbar width */
.addfriend-container::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* for horizontal scrollbar */
}

/* Track (background of scrollbar) */
.addfriend-container::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

/* Thumb (the draggable part) */
.addfriend-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0; /* adds padding around thumb */
}

/* Thumb hover effect */
.addfriend-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.add-friend {
  font-weight: bolder;
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}

.add-friend:hover {
  transform: scale(1.1);
}

.add-friend:active {
  transform: scale(0.9);
}

.accept-deny:hover {
  transform: scale(1.1);
}

.accept-deny:active {
  transform: scale(0.9);
}

.message-btn:hover {
  transform: scale(1.1);
}

.message-btn:active {
  transform: scale(0.9);
}
